.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.icons-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 15s linear infinite;
}

.img{
  border: 2px solid #916e80;
}

@keyframes rotate {
  0% {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}

:root {
  --translate-distance: 145px; 
}

@media (min-width: 768px) {
  :root {
    --translate-distance: 150px;
  }
}

@media (min-width: 1024px) {
  :root {
    --translate-distance: 200px;
  }
}

.icon {
  transform-origin: center center;
}
